<!DOCTYPE html>
<html>
    <head>
        <title>Turkish Gambit</title>
        <link rel="icon" href="/img/tglogo3.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="main-delete-profile">
                <form action="/delete-profile" method="POST" id="delete-form">
                    <div id="nickname">
                        <label id="nick-label">Oyun içi ad:</label>
                        <input name="unwantedNick" id="delete-input">
                        <button type="submit" id="submit-button-delete">Sil</button>
                    </div>
                </form>

                <div class="back">
                    <a href="/" id="back">Geri</a>
                </div>

                <div id="delete-feedback">
                    
                </div>
            
        </div>
        
        {{>footer}}
        <script src="/js/dom/delete-dom.js"></script>
    </body>
</html>
