<!DOCTYPE html>
<html>
    <head>
        <title>Turkish Gambit</title>
        <link rel="icon" href="/img/tglogo3.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-pass">
                <form action="/delete" method="POST" id="delete-pass-form">
                    <div id="pass">
                        <label id="pass-label">şifre:</label>
                        <input type="password" name="password" id="password-input">
                        <button type="submit" id="submit-button">giriş</button>
                    </div>
                </form>
        </div>
        
        {{>footer}}
    </body>
</html>
