<!DOCTYPE html>
<html>
    <head>
        <title>Turkish Gambit</title>
        <link rel="icon" href="/img/tglogo3.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="main-index">
            <div class="patch">
                <a href="/patch/tr" id="patch">Birim Güncelleme</a>
            </div>
            <div class="query">
                <a href="/inquire-by/tr" id="query">Birim Sorgusu</a>
            </div>
        </div>
        
        {{>footer}}
        
        <script src="/js/dom/langTR.js"></script>

    </body>
</html>
