<!DOCTYPE html>
<html>
    <head>
        <title>Turkish Gambit</title>
        <link rel="icon" href="/img/tglogo3.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <img src="/img/tglogo3.png" id="logo">
        <div class="main-content">
        <form action="/" method="POST" id="ilk">
            <label>İstenilen Unit:</label>
            <select name="unitCode" id="unit-name-select">
                <option value="C">Mızraklı Çavuşlar</option>
                <option value="D">Mızraklı Emperyal Muhafızlar</option>
                <option value="E">Berserkerler</option>
                <option value="F">Kargılı Emperyal Muhafızlar</option>
                <option value="G">Simaki Yiğitler</option>
                <option value="H">Simaki Paladinler</option>
                <option value="I">Kargılı Milisler</option>
                <option value="J">Fortebraccio Kargılıları</option>
                <option value="K">Condottieri Muhafızları</option>
                <option value="L">Azaplar</option>
                <option value="M">Tseregler</option>
                <option value="N">Silahtarlar</option>
                <option value="O">Demir Biçiciler</option>
                <option value="P">Landsknechtler</option>
                <option value="Q">Yeniçeriler</option>
                <option value="R">Namkhan Okçuları</option>
                <option value="S">İmparatorluk Okçuları</option>
                <option value="T">İmparatorluk Ciritçileri</option>
                <option value="U">Ciritçi Çavuşlar</option>
                <option value="V">İmparatorluk Arkebüzcüleri</option>
                <option value="W">Tercio Arkebüzcüleri</option>
                <option value="X">Paviz Kurmalı Yaylılar</option>
                <option value="Y">Falconetti Topçuları</option>
                <option value="Z">Sifonariler</option>
                <option value="AA">Manastır Şövalyeleri</option>
                <option value="AB">Keşikler</option>
                <option value="AC">Kanatlı Hüsarlar</option>
                <option value="AD">Rattan Korucuları</option>
                <option value="AE">Ateş Mızraklıları</option>
                <option value="AF">Armiger Lansçıları</option>
                <option value="AG">Sipahiler</option>
                <option value="AH">Liao'nun Korucuları</option>
            </select>
            <div id="min">
                <label>Min Seviye:</label>
                <input name="min">
                <button type="submit" id="submit-button">Ara</button>
            </div>
        </form>

        <div id="results">

        </div>
        </div>
        
        {{>footer}}
        <script src="/js/dom.js"></script>
    </body>
</html>
