<!DOCTYPE html>
<html>
    <head>
        <title>Turkish Gambit</title>
        <link rel="icon" href="/img/tglogo3.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="main-inquire">
                <form action="/inquire-by-nick/en" method="POST" id="form-by-nick">
                    <label class="inquire-nick-input-en">Nickname:</label>
                    <input name="inquireNick" id="inquire-nick-input">
                    <div id="filter">
                        <label id="filter-label">Filter:</label>
                        <select name="filter" id="filter-by">
                            <option value="all">All</option>
                            <option value="max">Only max</option>
                            <option value="not-max">Only non-max</option>
                        </select>
                        <button type="submit" id="submit-button">Find</button>
                    </div>
                </form>

                <div class="back">
                    <a href="/inquire-by/en" id="back">Back</a>
                </div>
            

                <div id="profile-results">

                </div>
            


        </div>
        
        {{>footer}}
        
        <script src="/js/dom/profile-dom.js"></script>
        <script src="/js/dom/langEN.js"></script>
    </body>
</html>
