<!DOCTYPE html>
<html>
    <head>
        <title>Turkish Gambit</title>
        <link rel="icon" href="/img/tglogo3.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="main-index">
            <div class="by-unit">
                <a href="/inquire-by-unit/en" id="by-unit">By Unit</a>
            </div>
            <div class="by-nick">
                <a href="/inquire-by-nick/en" id="by-nick">By Nick</a>
            </div>

            <div class="back">
                <a href="/en" id="back">Back</a>
            </div>
        </div>

        
        
        {{>footer}}
        
        <script src="/js/dom/langEN.js"></script>
    </body>
</html>
