<!DOCTYPE html>
<html>
    <head>
        <title>Turkish Gambit</title>
        <link rel="icon" href="/img/tglogo3.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="main-inquire">
                <form action="/inquire-by-unit/en" method="POST" id="form-by-unit">
                    <label class="inquire-en">Unit:</label>
                    {{>unit_menu_en}}
                    <div id="min">
                        <label>Min Level:</label>
                        <input name="min" id="inquire-input">
                        <button type="submit" id="submit-button">Find</button>
                    </div>
                </form>

                <div class="back">
                    <a href="/inquire-by/en" id="back">Back</a>
                </div>
            

                <div id="results">

                </div>
            


        </div>
        
        {{>footer}}
        
        <script src="/js/dom/dom.js"></script>
        <script src="/js/dom/langEN.js"></script>
    </body>
</html>
