<!DOCTYPE html>
<html>
    <head>
        <title>Turkish Gambit</title>
        <link rel="icon" href="/img/tglogo3.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="main-index">
            <div class="by-unit">
                <a href="/inquire_by_unit" id="by-unit">Birime Göre</a>
            </div>
            <div class="by-nick">
                <a href="/inquire_by_nick" id="by-nick">Ada Göre</a>
            </div>

            <div class="back">
                <a href="/" id="back">Geri</a>
            </div>
        </div>

        
        
        {{>footer}}
    </body>
</html>
