<footer>
    <div class="main-footer">
        <p>Created by Thynic</p>

        <div class="lang">
            <div id="en">
                <a href="" id="en-anc"><img src="/img/en2.png"></a>
            </div>

            <div id="tr">
                <a href="/tr" id="tr-anc"><img src="/img/tr.png"></a>
            </div>
        </div>

    </div>
    
</footer>

