<!DOCTYPE html>
<html>
    <head>
        <h1 id="title">Turkish Gambit</h1>
    </head>
    <body>
        <div class="logo">
            <img src="/img/tglogo3.png" id="logo">
        </div>
        
    </body>
</html>
