<select name="unitCode" id="unit-name-select" default="Seçiniz">
    <option value="B">Leadership</option>
    <option value="C" selected>Spear Sergeants</option>
    <option value="D">Imperial Spearmen</option>
    <option value="E">Berserkers</option>
    <option value="F">Imperial Pikemen</option>
    <option value="G">Symmachean Stalwarts</option>
    <option value="H">Symmachean Paladins</option>
    <option value="I">Pike Militia</option>
    <option value="J">Fortebraccio Pikemen</option>
    <option value="K">Condottieri Guards</option>
    <option value="L">Azaps</option>
    <option value="M">Tseregs</option>
    <option value="N">Silahdars</option>
    <option value="O">Iron Reapers</option>
    <option value="P">Landsknechts</option>
    <option value="Q">Janissaries</option>
    <option value="R">Namkhan Archers</option>
    <option value="S">Imperial Archers</option>
    <option value="T">Imperial Javelins</option>
    <option value="U">Javelin Sergeants</option>
    <option value="V">Imperial Arquebusiers</option>
    <option value="W">Tercio Arquebusiers</option>
    <option value="X">Pavise Crossbowmen</option>
    <option value="Y">Falconetti Gunners</option>
    <option value="Z">Siphonarioi</option>
    <option value="AA">Monastic Knights</option>
    <option value="AB">Kheshig Riders</option>
    <option value="AC">Winged Hussars</option>
    <option value="AD">Rattan Rangers</option>
    <option value="AE">Fire Lancers</option>
    <option value="AF">Armiger Lancers</option>
    <option value="AG">Sipahis</option>
    <option value="AH">Liao's Rangers</option>
</select>