/* * {
    text-align: center;
} */

label {
    color: #7e6319;
    font-size: 25px;
}

p {
    font-size: 25px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

body {
    background-color: #121212;
    max-width: 650px;
    max-height: 100px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-index {
    flex-grow: 1;
    max-width: 250px;
    margin-left: 49%;
    text-align: center;
}

.main-inquire, .main-patch {
    flex-grow: 1;
}

.logo {
    display: flex;
    justify-content: center;
}

#logo {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

form {
    margin-left: 20%;
}

#patch-form {
    margin-left: 25%;
}

#inquire-input {
    color: #7e6319;
    border: 2px solid #7e6319;
    padding: 2px;
    font-size: 20px;
    width: 50px;
    border-radius: 5px;
    margin-left: 14%;
    background-color: #121212;
}

#entered-div {
    text-align: center;
    display: flex;
    justify-content: center;
}

#patch-input {
    color: #af1a1a;
    border: 2px solid #7e6319;
    padding: 2px;
    font-size: 20px;
    width: 46.8%;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    margin-left: 14%;
    background-color: #121212;
}

#patcher-nick {
    color: #af1a1a;
    padding: 2px;
    font-size: 35px;
    /* margin-right: 15%; */
    background-color: #121212;
}

#patch-input-second {
    color: #7e6319;
    border: 2px solid #7e6319;
    padding: 2px;
    font-size: 20px;
    width: 10%;
    border-radius: 5px;
    margin-left: 23.5%;
    margin-top: 12px;
    background-color: #121212;
}

#submit-button {
    cursor: pointer;
    border: 2px solid #7e6319;
    background: #7e6319;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 20%;
    margin-left: 10px;
}

#submit-button:hover {
    background:#9c7e2a;
    border: 2px solid #7e6319;
}

#submit-button-patch {
    cursor: pointer;
    border: 2px solid #7e6319;
    background: #7e6319;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 39%;
    margin-top: 12px;
}

#submit-button-patch:hover {
    background:#9c7e2a;
    border: 2px solid #7e6319;
}

.back {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#back {
    cursor: pointer;
    border: 2px solid #7e6319;
    background: #7e6319;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 20%;
    margin-left: 10px;
    text-decoration: none;
}

#back:hover {
    background:#9c7e2a;
    border: 2px solid #7e6319;
}

#patch, #query {
    color: #7e6319;
    text-decoration: none;
    padding: 8px;
    font-size: 35px;
    border: 2px solid #000;
    border-radius: 6px;
}

#patch:hover, #query:hover {
    color: #a78730;
}

.query, .patch {
    margin-bottom: 20px;
    max-width: 10px;
    display: flex;
    justify-content: center;
}

#unit-name-select {
    color: #9c7e2a;
    background-color: #121212;
    border: 2px solid #7e6319;
    padding: 2px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 25%;
}

#unit-name-select-patch {
    color: #9c7e2a;
    background-color: #121212;
    border: 2px solid #7e6319;
    padding: 2px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 25.5%;
    margin-top: 12px;
}

#min {
    margin-top: 10px;
}

#results {
    padding:20px;
    border-radius: 5px;
    border: 2px solid #000;
    color:#af1a1a;
    margin-bottom: 3%;
    margin-top: 5%;
    text-align: center;
}

#unit-name {
    color: #866f44;
    font-size: 23px;
}

h1{
    font-size:64px;
    color:#af1a1a;
    margin-bottom:10px;
    text-align: center;
}

footer {
    color: #af1a1a;
    border-top: 1px solid #7e6319;
    margin-top: 16px;
    padding: 16px 0;
    font-size: 25px;
}