/* * {
    text-align: center;
} */

label {
    color: #7e6319;
    font-size: 25px;
}

p {
    font-size: 25px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

body {
    background-color: #121212;
    max-width: 650px;
    max-height: 100px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-index {
    flex-grow: 1;
    max-width: 250px;
    margin-left: 49%;
    text-align: center;
}

.main-member-pass { 
    flex-grow: 1;
}

.main-inquire, .main-patch, .main-delete-profile, .main-pass {
    flex-grow: 1;
}

.main-member-pass {
    /* max-width: 250px; */
    margin-right: 14%;
    margin-top: 8%;
    flex-grow: 1;
}

.logo {
    display: flex;
    justify-content: center;
}

#logo {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

#patch-form {
    margin-left: 20%;
}

#form-by-unit {
    margin-left: 20%;
}

#form-by-nick {
    margin-left: 20%;
}

#delete-form {
    margin-left: 20%;
}

#delete-pass-form {
    margin-left: 18%;
}

#member-pass-form {
    margin-left: 22%;
}

.inquire-en {
    margin-right: 0.5%;
}

#inquire-input {
    color: #7e6319;
    border: 2px solid #7e6319;
    padding: 2px;
    font-size: 20px;
    width: 50px;
    border-radius: 5px;
    margin-left: 13.4%;
    background-color: #121212;
}

#entered-div {
    text-align: center;
    display: flex;
    justify-content: center;
}

#patch-input, #inquire-nick-input, #delete-input, #password-input {
    color: #af1a1a;
    border: 2px solid #7e6319;
    padding: 2px;
    font-size: 20px;
    width: 44.4%;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    margin-left: 14%;
    margin-bottom: 10px;
    background-color: #121212;
}

#pass-label {
    color:#af1a1a;
}

#password-input {
    margin-top: 5%;
    margin-left: 10%;
}

#discord {
    filter: opacity(80%);
    -webkit-filter: opacity(80%);
    margin-left: 47.5%;
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 0 50px;
    margin-top: 30px;
}

#discord img {
    filter: opacity(80%);
    -webkit-filter: opacity(80%);
}

#discord img:hover{
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
}

.main-footer {
    /* position: absolute; */
    display: inline;
}

footer p {
    float: left;
}

.lang {
    float: right;
    margin-top: 29px;
}

#tr {
    display: none;
}

#en {
    display: none;
}

#tr img {
    max-height: 26px;

    filter: opacity(80%);
    -webkit-filter: opacity(80%);
}

#tr img:hover {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
}

#en img {
    max-height: 26px;

    filter: opacity(80%);
    -webkit-filter: opacity(80%);
}

#en img:hover {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
}

#inquire-nick-input {
    margin-bottom: 3px;
    width: 42.6%;
}

.inquire-nick-input-en {
    margin-right: 2.5%;
}

#delete-input {
    width: 38%;
}

#patch-input-second {
    color: #7e6319;
    border: 2px solid #7e6319;
    padding: 2px;
    font-size: 20px;
    width: 10%;
    border-radius: 5px;
    margin-left: 23.1%;
    margin-top: 12px;
    background-color: #121212;
}

#submit-button, #member-submit {
    cursor: pointer;
    border: 2px solid #7e6319;
    background: #7e6319;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 20%;
    margin-left: 10px;
}

#member-submit {
    margin-left: 72%;
    margin-top: 2px;
}

#submit-button:hover, #member-submit:hover {
    background:#9c7e2a;
    border: 2px solid #7e6319;
}

#submit-button-patch, #submit-button-delete {
    cursor: pointer;
    border: 2px solid #7e6319;
    background: #7e6319;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 12px;
}

#submit-button-delete {
    background: #af1a1a;
    margin-left: 70.8%;
}

#submit-button-patch:hover {
    background:#9c7e2a;
    border: 2px solid #7e6319;
}

#submit-button-delete:hover {
    background: #da2e2e;
    border: 2px solid #7e6319;
}

.back {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#back {
    cursor: pointer;
    border: 2px solid #7e6319;
    background: #7e6319;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 20%;
    margin-right: 4px;
    text-decoration: none;
}

#back:hover {
    background:#9c7e2a;
    border: 2px solid #7e6319;
}

#patch, #query, #by-nick, #by-unit {
    color: #7e6319;
    text-decoration: none;
    padding: 8px;
    font-size: 35px;
    border: 2px solid #000;
    border-radius: 6px;
}

#patch:hover, #query:hover, #by-nick:hover, #by-unit:hover {
    color: #a78730;
}

.query, .patch,  .by-nick, .by-unit {
    margin-bottom: 20px;
    max-width: 10px;
    display: flex;
    justify-content: center;
}

#by-nick {
    padding: 0 23px;
}

#unit-name-select, #filter-by {
    color: #9c7e2a;
    background-color: #121212;
    border: 2px solid #7e6319;
    padding: 2px;
    font-size: 16.1px;
    border-radius: 5px;
    margin-left: 24.5%;
    height: 35px;
}

#unit-name-select-label {
    margin-right: 0.6%;
}

#filter-by {
    width:33%;
    margin-left: 25.8%;
    /* margin-right: 5%; */
}

/* #unit-name-select-patch {
    color: #9c7e2a;
    background-color: #121212;
    border: 2px solid #7e6319;
    padding: 2px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 25.5%;
    margin-top: 12px;
} */

#min, #filter {
    margin-top: 10px;
}

#results {
    padding:20px;
    border-radius: 5px;
    border: 2px solid #000;
    color:#af1a1a;
    margin-bottom: 3%;
    margin-top: 5%;
    text-align: center;
    display: none;
}

#profile-results, #feedback, #delete-feedback {
    padding:20px;
    border-radius: 5px;
    border: 2px solid #000;
    color:#866f44;
    margin-bottom: 3%;
    margin-top: 5%;
    text-align: center;
    font-size: 23px;
    display: none;
}

#unit-name {
    color: #866f44;
    font-size: 23px;
}

h1{
    font-size:64px;
    color:#af1a1a;
    margin-bottom:10px;
    text-align: center;
}

footer {
    color: #af1a1a;
    border-top: 1px solid #7e6319;
    margin-top: 16px;
    padding: 16px 0;
    font-size: 25px;
}